<!-- Comment Section -->
<section class='bg-white dark:bg-gray-900 pt-8 antialiased'>
	<!-- Container for comment section -->
	<div class='max-w-2xl mx-auto px-4'>
		<!-- Title and heading of the comment section -->
		<div class='flex justify-between items-center mb-6'>
			<h2 class='text-lg lg:text-2xl font-bold text-gray-900 dark:text-white'>Comments</h2>
		</div>

		<!-- Comment Form -->
		<form class='mb-6 comment-form'>
			<!-- Stylish container for comment input -->
			<div
				class='py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700'
			>
				<!-- Label for comment input -->
				<label for='comment' class='sr-only'>Your comment</label>
				<!-- Textarea for user to input comments -->
				<textarea
					id='comment'
					rows='2'
					class='px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800'
					placeholder='Write a comment...'
					required
				></textarea>
			</div>

			<!-- Submit Button for Posting Comment -->
			<button
				type='submit'
				class='inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:bg-primary-700 dark:focus:ring-primary-900 hover:bg-primary-800'
			>
				Post Comment
			</button>
		</form>
	</div>

	<!-- Conditional Script Inclusion -->
	{{#if logged_in}}
		<!-- Include comment.js script if user is logged in -->
		<script src='/js/comment.js'></script>
	{{/if}}
</section>