<section class='bg-white dark:bg-gray-900 py-6 antialiased'>
	<div class='max-w-2xl mx-auto px-4'>
		{{#each this}}
			<article class='p-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900'>
				<footer class='flex justify-between items-center mb-2'>
					<div class='flex items-center'>
						<p
							class='inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold'
						>{{user.name}}</p>
						<p class='text-sm text-gray-600 dark:text-gray-400'>
							{{date_created}}</p>
					</div>
				</footer>
				<p class='text-gray-500 dark:text-gray-400'>{{content}}</p>
			</article>
		{{/each}}
	</div>
</section>