<footer class='h-20 w-full mx-auto px-8 bg-white mt-4 dark:bg-gray-800 flex flex-col'>
	<div class='flex justify-center p-4'>
		<span class='text-sm text-gray-500 text-center dark:text-gray-400'>© 2023
			<a href='https://webdevmullins.com/' class='hover:underline'>WebDevMullins</a>. All Rights Reserved.
		</span>
	</div>
</footer>