<html lang='en' class='dark'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>MVC Tech Blog</title>
		<link rel='stylesheet' href='/css/styles.css' />
		<link href='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css' rel='stylesheet' />
	</head>
	<body class='bg-gray-900 text-white flex flex-col mx-auto'>
		{{> navbar}}
		<main>
			{{{body}}}
		</main>
		{{#if logged_in}}
			<script src='/js/logout.js'></script>
		{{/if}}
		<script src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js'></script>
	</body>
</html>